<!DOCTYPE html>
<html lang="ko">


<head>
    <meta charset="UTF-8">
    <title>ECIGA</title>

    <link rel="stylesheet" href="../../assets/css/reset.css">
    <link rel="stylesheet" href="../../assets/css/gallery.css">




</head>


<body>


    <div id="wrap">

        <!-- <c:import url="/WEB-INF/views/include/header.jsp"></c:import> -->

        <!-- 메인바디 시작 -->
         <div id="content">

            <div id="sub_contents">

                <!-- 제품 상단 -->
                <div id="content_item">

                    <div id="content_item_img">
                        <img>제품 사진

                    </div>

                    <form name="itemView" id="itemView" method="post">




                    </form>



                </div>

                <!-- 제품 설명이미지 -->
                <div id="content-read">

                    <img>제품설명이미지


                </div>
    
                <!-- 제품 추가설명 -->
                <div id="content-line">

                    <div>AS/결제</div>
                    <div>문의</div>
    
    
    
                </div>


            </div>





         </div>


    </div>



    
</body>
</html>