@charset "UTF-8";


/* 공통영역??? */
#top_area {
    height: 20px;
    border: 1px solid #000000;
    margin: 20px
}


#h1 {
    
}


/*  메인페이지 제품 리스트 */

/* 리스트 전체 영역 */
#gallery #viewArea {
    margin: 10px 0px 10px 0px;
    padding: 20px 0px 0px 50px;
    
}


/* content-head */
#main-header {
    background-color: aqua;
    height: 200px;
}



/* 이미지 1개 영역 */
#gallery .view {
    width: 350px;
    height: 450px;
    margin: 5px 0px 0px 3px;

    /* 추후 삭제 요망 */
    border: 1px solid #000000; 
    float: left;
}

#gallery .itemimg {
    width: 200px;
    height: 300px;
    cursor: Pointer;
    margin: 0 auto;

    background-color: blueviolet;
}

#gallery .imgItemColor {
    width: 250px;
    height: 35px;
    cursor: Pointer;
    padding: 10px;
    margin: 0 auto;
}  

/* 제품명 */
.itemName {
    background-color: aqua;
    width: 250px;
    height: 35px;
    padding: 5px;
    margin: 0 auto;

}

/* 제품가격 */
.itemPrice {
    background-color: chocolate;
    width: 250px;
    height: 25px;
    padding: 5px;
    margin: 0 auto;

}




/* 색상 선택 동그라미 */
.itemGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-height: 150px;
    overflow-y: auto;
    text-align: center;
}

.itemGrid div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20;
}

.color-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #ccc;
    cursor: pointer;
}

.black {
    background-color: #000000;
}

.red {
    background-color: #ff0000;
}

.blue {
    background-color: #0000ff;
}











